[settings]
	color_output=true
	combine_as_imports=true
	combine_star=true
	combine_straight_imports=true
	float_to_top=true
	honor_noqa=true
	indent="	"
	known_first_party=src
	line_length=160
	lines_after_imports=2
	multi_line_output=2
	no_inline_sort=false
	no_lines_before=LOCALFOLDER
	py_version=313
