[settings]
color_output=True
combine_as_imports=True
combine_star=True
combine_straight_imports=True
float_to_top=True
honor_noqa=True
indent="	"
line_length=160
multi_line_output=2
no_inline_sort=False
py_version=313